{layout '../@layoutSignedIn.latte'}
{define bodyClass}admin-page-homepage{/define}
{define metaTitle}Admin{/define}
{define metaDescription}Admin{/define}

{block content}
	<section>
        <h1>Administrace</h1>
    </section>
{/block}