{define bodyClass}page-homepage{/define}
{define metaTitle}Homepage meta title{/define}
{define metaDescription}Homepage meta description{/define}

{block content}

<section>
    <div class="container">
        <h1 class="textstyle-head-1">Animal of the world</h1>
        <ul>
            <li n:foreach="$animals as $animal">{$animal->name}</li>
        </ul>
    </div>
</section>


{/block}
