{layout '../@layoutSignedIn.latte'}
{define bodyClass}admin-page-error{/define}
{define metaTitle}Error {$errorCode}{/define}
{define metaDescription}Error{/define}

{block content}
<section>
    <h1>Error <small>{$errorCode}</small></h1>
    <p>Něco se pokazilo</p>
    <a n:href="Admin:Homepage:default">Zpět na domovskou stránku</a>
</section>
{/block}