{varType Nette\Forms\Controls\Checkbox $input}

<label n:name="$input->getName()" class="flex gap-4 justify-between items-center cursor-pointer">
    <span class="textstyle-label">{$input->getCaption()}</span>
    <input n:name="$input->getName()" class="text-green-600">
</label>