{layout '@layout.latte'}

{block body}
    <header class="flex justify-end p-4">
        <a n:href="Sign:out" class="button">Log Out</a>
    </header>

    <main>
        {include content}
    </main>

{/block}