{layout '../@layoutUnsigned.latte'}
{define bodyClass}admin-page-signin{/define}
{define metaTitle}Přihlášení{/define}
{define metaDescription}{/define}

{block content}
	{control signInForm}
{/block}