{layout '../@layoutUnsigned.latte'}
{define bodyClass}admin-page-signin{/define}
{define metaTitle}Přihlášení{/define}
{define metaDescription}{/define}

{block content}
    <section>
    	{control signInForm}
    </section>

    <section>
        <p>Example credentials</p>
        <p>
            Email: <strong>admin@admin.cz</strong><br>
            Password: <strong>admin</strong>
        </p>
    </section>
{/block}