{layout '../@layoutUnsigned.latte'}
{define bodyClass}admin-page-signout{/define}
{define metaTitle}Odhlášení{/define}
{define metaDescription}{/define}

{block content}
    <p>Byli jste úspešně odhlášeni!</p>
    <a n:href="in">Přihlásit se</a>
{/block}

