{layout '../@layoutSignedIn.latte'}
{define bodyClass}admin-page-animal{/define}
{define metaTitle}Admin{/define}
{define metaDescription}Admin{/define}

{block content}
<section>
    <div class="container flex flex-col gap-12">
        <h1 class="textstyle-head-1">Administration</h1>
        {control dataListAnimal title: 'Animals'}
        {control dataListAnimalType title: 'Animal types'}
    </div>
</section>
{/block}