{layout '../@layoutSignedIn.latte'}
{define bodyClass}admin-page-animal{/define}
{define metaTitle}Admin{/define}
{define metaDescription}Admin{/define}

{block content}
<section>
    <div class="container flex flex-col gap-8">
        <h1 class="textstyle-head-1">Animal Administration</h1>
        <a n:href="Animal:edit" class="button self-start">Create a record</a>
        {control dataList}
    </div>
</section>
{/block}