{layout '../@layoutSignedIn.latte'}
{define metaTitle}Editing a record{/define}

{block content}
<section>
    <div class="container flex flex-col gap-8">
        <a n:href="Animal:default" class="button self-start">Back to list</a>
        {control animalForm}
    </div>
</section>
{/block}